@model WebTabanliProje.Areas.Users.ViewModels.ChangePassword
<div class="container">
    <h1>Change Password</h1>
    <form action="ChangePassword" method="post">
        @if (ViewData.ModelState.ContainsKey("ChangePassword"))
        {
            <div class="alert alert-danger">
                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @Html.ValidationSummary(false, "Errors: ")
            </div>
        }
        <div class="form-group">
            <label for="UserName">Username</label>
            <input type="text" class="form-control" id="UserName" name="UserName" placeholder="@Model.UserName" readonly>
        </div>
        <div class="form-group">
            <label for="UserPassword">Old Password</label>
            <input type="password" required="True" data-val="true" class="form-control" id="UserPassword" name="UserPassword">
        </div>
        <div class="form-group">
            <label for="UserPassword">New Password</label>
            <input type="password" required="True" data-val="true" class="form-control" id="NewPassword" name="NewPassword">
        </div>
        <button type="submit" class="btn btn-outline-primary">Change Password</button>
        <a class="ml-2" href="@Url.Action("index")">or cancel</a>
    </form>
</div>