@model WebTabanliProje.Areas.Users.ViewModels.RecordsCreate

<div class="container">
    <h1 class="my-3">Create Record</h1>
    <form action="CreateRecord" method="post">
        <div class="row">
            <div class="form-group col-md-3">
                <label for="Amount">Amount</label>
                <input class="form-control" data-val="true" id="Amount" name="Amount" required="True" type="number" min="0" step="0.1" placeholder="Example: 20.35">
            </div>
            <div class="form-group col md-3">
                <label for="Type">Type</label>
                <select class="form-control" id="Type" name="Type">
                    <option>Expense</option>
                    <option>Income</option>
                </select>
            </div>
            <div class="col-md-4 form-group">
                <label for="Category">Category</label>
                <select class="form-control" id="Category" name="Category">
                    @foreach (string category in WebTabanliProje.Areas.Users.Controllers.HomeController.CategoriesList)
                    {
                        <option>@category</option>
                    }
                </select>
            </div>
            <div class="col-md-2"></div>
        </div>
    
        <div class="row form-group col-md-8">
            <label for="Note">Note</label>
            <textarea class="form-control" id="Note" name="Note" rows="4" maxlength="254" placeholder="Type a message for your record(Optional)"></textarea>
        </div>
    
        <div class="mt-3">
            <input type="submit" value="Create Record" class="btn btn-outline-primary" />
            <a class="ml-2" href="@Url.Action("index")">or cancel</a>
        </div>
    </form>
</div>