body {
    background-color: #EFFDFF;
}

/*NAVBAR*/
.navbar .navbar-brand {
    color: #E6FAFC;
    font-size: 26px;
}

.bg-dark {
    background-color: rgba(17,20,15,.8) !important;
}

.navbar .nav-item .nav-link {
    color: white;
    transition: color .3s ease;
}

.navbar .nav-item .nav-link:hover {
    color: #9CFC97;
    transition: color .3s ease;
    cursor: pointer;
}

.dropdown-menu .dropdown-item:hover{
    cursor: pointer;
}

.overlay {
    background-color: rgba(0,0,0,.1);
}

.btn-outline-primary {
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}

/*RENDERBODY ADMIN SECTION*/
#admin-container {
    position: relative;
    min-height: 100vh;
}

#admin-renderbody {
    padding-bottom: 55px;
}

/*FOOTER SECTION*/
#footer-section {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    color: #fff;
    background-color: black;
}